# Dependencies
node_modules/

# Build output
dist/
coverage/
*.tsbuildinfo

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
yarn-debug.log*
yarn-error.log*
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Yarn Berry
.yarn/*
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/sdks/
!.yarn/versions/

# Plug'n'Play artifacts
.pnp.*

# Generated code
generated/

# Temporary files
tmp/
temp/

# IDE-specific files
.editorconfig

# Design files
designs/
